<p id="notice"><%= notice %></p>

<h1>Listing Forecasts</h1>
<table>
  <thead>
    <tr>
      <th>Zip</th>
      <th>Current temp</th>
      <th>High low</th>
      <th>Wind</th>
      <th>Last checked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.zip %></td>
        <td><%= forecast.current_temp %></td>
        <td><%= forecast.high_low %></td>
        <td><%= forecast.wind %></td>
        <td><%= forecast.last_checked %></td>
        <td><%= link_to 'Show', forecast %></td>
        <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
        <td><%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= render 'form' %>