<p id="notice"><%= notice %></p>

<p>
  <strong>Zip:</strong>
  <%= @forecast.zip %>
</p>

<p>
  <strong>Current temp:</strong>
  <%= @forecast.current_temp %>
</p>

<p>
  <strong>High low:</strong>
  <%= @forecast.high_low %>
</p>

<p>
  <strong>Wind:</strong>
  <%= @forecast.wind %>
</p>

<p>
  <strong>Last checked:</strong>
  <%= @forecast.last_checked %>
</p>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
